In [2]:
list(range(0, 10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
exp1=1138
exp2=101
exp3=12
exp4=300
exp5=2049
total_expense=exp1+exp2+exp3+exp4+exp5
print(total_expense)

3600

In [3]:
expense=[1138,101,12,300,2049]
print(sum(expense))

3600

[ ] 串列 逗號隔開

In [9]:
list=[10,20,30,40,50]
print(list)

[10, 20, 30, 40, 50]

In [10]:
list=[10,20,30,40,50]

In [11]:
expense=[1138,101,12,300,2049]
print(expense[0])
print(expense[4])

1138
2049

index 索引  從0開始  最末元素索引: N-1

In [15]:
expense[2]='發票遺失'
expense[3]=300.0
print(expense)

[1138, 101, '發票遺失', 300.0, 2049]

In [16]:
print(expense[-1])
print(expense[-2])
print(expense[-3])
print(expense[-5])
print(expense[5])

2049
300.0
發票遺失
1138

IndexError: list index out of range

python 將索引 -1 視為倒數第一個索引  (一個順向一個逆向)
注意不是 -0 !!
python 獨有

串列 [起始索引 : 起始索引 + 擷取個數]

In [20]:
expense=[1138,101,12,300,2049]
print(expense[0:3])

[1138, 101, 12]

In [21]:
expense=[1138,101,12,300,2049]
print(expense[2:3])

[12]

In [22]:
expense=[1138,101,12,300,2049]
print(expense[3:3])

[]

切片 (slicing)     好像"有頭無尾!!"   取索引到 (個數-1)

In [24]:
expense=[1138,101,12,300,2049]
print(expense[2:2+2])

expense=[1138,101,12,300,2049]
print(expense[2:4])

[12, 300]
[12, 300]

In [26]:
print(expense[1:])
print(expense[:3])
print(expense[:])
print(expense[::])
print(expense[::2])
print(expense[::-1])
print(expense[::-2])

[101, 12, 300, 2049]
[1138, 101, 12]
[1138, 101, 12, 300, 2049]
[1138, 101, 12, 300, 2049]
[1138, 12, 2049]
[2049, 300, 12, 101, 1138]
[2049, 12, 1138]

串列 [起始索引 : 起始索引 + 擷取個數 : 索引間隔]

append() 新增元素  (串列專有函式)
remove() 刪除
clear() 清空
sorted() 、 sort() 排序

In [93]:
print(expense)
expense.append(408)
print(expense)

[1138, 101, 12, 300, 2049, 1, 5]
[1138, 101, 12, 300, 2049, 1, 5, 408]

In [94]:
expense=[1138,101,12,300,2049]
expense.extend([1,5])
print(expense)

expense[len(expense):]=[9,6]
print(expense)

[1138, 101, 12, 300, 2049, 1, 5]
[1138, 101, 12, 300, 2049, 1, 5, 9, 6]

In [43]:
expense.remove(300)
print(expense)

[1138, 101, 12, 2049]

In [83]:
expense=[1138,101,12,300,2049]
print(min(expense))
print(max(expense))

12
2049

In [45]:
expense.clear()
print(expense)

[]

In [46]:
expense=[1138,101,12,300,2049]
print(sum(expense))

3600

In [47]:
print(len(expense))

5

In [49]:
print(sum(expense)/len(expense))

720.0

In [63]:
import statistics
avg=statistics.mean(expense)
print(avg)

720

In [58]:
s=sorted(expense)
print(s,expense)

[12, 101, 300, 1138, 2049] [1138, 101, 12, 300, 2049]

In [60]:
expense.sort()
print(expense)

[12, 101, 300, 1138, 2049]

In [61]:
print(expense.sort())

None

In [69]:
restaurant=['蟹堡王',1959,'蟹老闆',2,'海綿寶寶','章魚哥']
print(restaurant)

['蟹堡王', 1959, '蟹老闆', 2, '海綿寶寶', '章魚哥']

In [73]:
restaurant=['蟹堡王',1959,'蟹老闆',2,['海綿寶寶','章魚哥']]
print(restaurant)

['蟹堡王', 1959, '蟹老闆', 2, ['海綿寶寶', '章魚哥']]

In [3]:
restaurant ={
    '餐廳名稱':'蟹堡王',
    '年分':1959,
    '業主':'蟹老闆'
}
print(restaurant)
print(type(restaurant))

{'餐廳名稱': '蟹堡王', '年分': 1959, '業主': '蟹老闆'}
<class 'dict'>

dictionary 字典  ==> dict  = { 鍵(key) : 值(value) }

In [76]:
d={1:'A',2.0:'B','C':3}
print(d)

{1: 'A', 2.0: 'B', 'C': 3}

In [78]:
d={1:'A',1:'B',1:3}
print(d)

{1: 3}

In [80]:
dict ={1:'A',2.0:'B','C':3}
print(dict)

{1: 'A', 2.0: 'B', 'C': 3}

值 = 字典名稱 [鍵]    (查詢特定 鍵)

In [95]:
print(restaurant['年分'])
print(restaurant['創業年分'])

1959

KeyError: '創業年分'

In [97]:
key=input("查詢:")
if key in restaurant:
    print(restaurant[key])
else:
    print('錯誤',key)

查詢:年分
1959

In [98]:
key=input("查詢:")
if key in restaurant:
    print(restaurant[key])
else:
    print('錯誤',key)

查詢:創業年分
錯誤 創業年分

In [99]:
restaurant.update({'餐廳地點':'比奇堡'})
print(restaurant)

{'餐廳名稱': '蟹堡王', '年分': 1959, '業主': '蟹老闆', '餐廳地點': '比奇堡'}

In [100]:
restaurant.update({'餐廳地點':'比奇堡','A':1})
print(restaurant)

{'餐廳名稱': '蟹堡王', '年分': 1959, '業主': '蟹老闆', '餐廳地點': '比奇堡', 'A': 1}

In [102]:
import random

dict_points={1:'一',2:'二',3:'三',4:'四',5:'五',6:'六'}

dice=random.randint(1,6)

print("骰子數:")
print(dict_points[dice])

骰子數:
四

tuple (元祖) : tuple元素是不能被改變的，強行改變會出現錯誤 & 用小括號

In [103]:
expense=(1138,101,12,300,2049)

print(expense)
print(type(expense))

(1138, 101, 12, 300, 2049)
<class 'tuple'>

In [104]:
expense[1]=999

TypeError: 'tuple' object does not support item assignment

In [105]:
expense={1138,101,12,300,2049}

print(expense)
print(type(expense))

{2049, 101, 12, 300, 1138}
<class 'set'>

set : 只有鍵 沒有值 ； 集合沒有順序 都同等級 ； 只會給出不同數值

In [106]:
s={1,1,1,2,2,3,5,4,5}

print(s)

{1, 2, 3, 4, 5}

In [107]:
print(8 in s)
print(1 in s)

False
True

In [108]:
a={1,3,5,6,7,9,}
b={1,2,3,4,6,8}

print(a|b)
print(a&b)
print(a^b)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 3, 6}
{2, 4, 5, 7, 8, 9}

| : 聯集 ； & : 交集 ； ^ : 聯集減交集 (對稱差集)